{% extends 'piano/layout.html' %}

{% block body %}
<h1>Piano</h1>

<div class="container-fluid">
    <div id="piano" class="row noselect">
        <div id="key-audios-wrapper"></div>
        <svg id="piano-svg-wrapper" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 1000 160">
            <!-- Piano key SVGs -->
        </svg>
    </div>
    <div class="row noselect">
        <div id="default-chords" class="col-6">
            <h3>Default chords:</h3>
        </div>
    </div>
</div>
{% endblock %}
